
.Application {
  display: flex;
  background: red;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .welcome {
    margin-top: 20px;
    font-size: 50px;
  }
}
